html {
    height: 100%;
}

body {
    background: rgb(253,45,45);
    background: linear-gradient(0deg, rgba(253,45,45,1) 0%, rgba(245,245,220,1) 35%);
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.subtitle {
    text-align: center;
}

.addPokemon {
    display: flex;
    justify-content: center;
}

.pkmnName {
    text-align: center;
    margin-top: 15%;
}

.sprite-item {
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.fullList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

#fullList-ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
}

#fullList-ul ul{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    
}

.ss-ul li {
    display: flex;
    justify-content: center;
}